<div class="container">
    <h2>Mettre à jour une tâche</h2>

        <form [formGroup]="updateTaskForm">

            <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Titre</mat-label>
                    <input matInput type="text" placeholder="Title" formControlName="title" />
                    <mat-error *ngIf="taskForm.get('title')?.hasError('required')">Ce champ est obligatoire !</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Description</mat-label>
                    <textarea matInput placehold="Description" formControlName="description"></textarea>
                    <mat-error *ngIf="taskForm.get('description')?.hasError('required')">Ce champ est obligatoire ! </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Date de rendu</mat-label>
                    <input matInput [matDatepicker]="dueDatePicker" placeholder="Choisissez la date de rendu" formControlName="dueDate">
                    <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #dueDatePicker></mat-datepicker>
                    <mat-error *ngIf="taskForm.get('dueDate')?.hasError('required')">Ce champ est obligatoire !</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Sélectionnez la priorité</mat-label>
                    <mat-select formControlName="priority" name="Priority">
                        <mat-option *ngFor="let priority of listOfPriorities" [value]="priority">
                            {{priority}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="taskForm.get('priority')?.hasError('required')">Ce champ est obligaoire !</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Sélectionnez l'employé'</mat-label>
                    <mat-select formControlName="employeeId" name="employeeId">
                        <mat-option *ngFor="let employee of listOfEmployees" [value]="employee.id">
                            {{employee.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="taskForm.get('priority')?.hasError('required')">Ce champ est obligaoire !</mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid"
                    (click)="postTask()">Ajouter une tâche </button> 

            <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid" 
            (click)="updateTask()">Mettre à jour la tâche</button>
    </mat-card>
    </form>
</div>